@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-red: #ff0000;

    //Footer
    --color-text-footer: #cccccc;
    --color-outline-input: rgb(199, 255, 199);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    line-height: 1.1;
    text-rendering: optimizeSpeed;
    color: #555;
}
