.wrapper {
    height: 100%;
    color: var(--color-black);

    img {
        max-width: 1920px;
        max-height: 745px;
        width: 100%;
        object-fit: cover;
    }
}

.collection {
    display: flex;
}

.category {
    width: 100%;
    min-height: 435px;

    h3 {
        text-align: center;
        font-size: 28px;
    }

    .category-content {
        margin: 25px 25px;
        display: flex;
    }
}

.seller {
    width: 100%;
    padding-bottom: 100px;

    h4 {
        padding-bottom: 40px;
        text-align: center;
        font-size: 26px;
    }

    .seller-content {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

.posts {
    padding: 50px 0;

    h4 {
        padding-bottom: 20px;
        text-align: center;
        font-size: 26px;
    }

    .posts-content {
        display: inline-grid;
        grid-template-columns: 600px 600px;
        column-gap: 100px;
        padding: 30px 70px;
    }
    .posts-card {
        width: 100%;
        height: 450px;

        img {
            width: 600px;
            height: 300px;
        }

        a {
            color: var(--color-red);
            text-decoration: none;

            &:hover {
                color: rgba(0, 0, 255, 0.5);
            }
        }

        .posts-card-caption {
            margin: 10px 0;
            text-align: center;
        }
        .posts-card-title {
            font-size: 23px;
            color: var(--color-black);

            &:hover {
                color: var(--color-red);
            }
        }
        .posts-card-desc {
            word-wrap: break-word;
            overflow: hidden;
            text-overflow: ellipsis;

            display: -webkit-box;
            -webkit-line-clamp: 2; // Tối đa 2 hàng
            -webkit-box-orient: vertical; //Nội dung đặt theo chiều dọc

            line-height: 1.4;
            margin: 10px 0;
        }
    }
}
