.wrapper {
    width: 100%;
    max-width: fit-content;
    background: #4c4c4c;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    margin-top : -10px;

    .top {
        display: flex;
        margin: 0 80px;
        padding-top: 20px;
    }

    .bottom {
        & a {
            justify-content: center;

            & span {
                margin : 0 5px;
            }
        }
    }
}
