.wrapper {
    height: 520px;
    background: #4c4c4c;
    display: flex;
}

.findstore {
    float: left;
    width: 306px;
    padding: 0 10px;

    justify-content: center;

    img {
        width: 280px;
        margin: 50px 10px 20px 10px;
    }

    button {
        height: 40px;
        width: 279px;
        background-color: #f15e2c;
        border: 1px solid #f15e2c;
        cursor: pointer;
        text-transform: uppercase;
        color: var(--color-white);
        font-weight: 700;
        font-size: 21px;

        :link {
            color: transparent;
        }
    }
}
.right {
    float: right;
    width: 100%;
    height: 100%;
    min-height: 1px;
    margin-left: 20px;
    padding: 40px 0;
    color: var(--color-text-footer);

    h4 {
        font-size: 23px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    li {
        list-style: none;
        margin: 10px 0;
    }

    .right-top {
        height: 180px;
        display: grid;
        grid-template-columns: 250px 250px 250px 250px;
        grid-template-rows: 170px;

        .product {
            height: 100px;
        }

        .hover {
            :hover {
                color: var(--color-red);
            }
        }

        a {
            color: var(--color-text-footer);
            text-decoration: none;
        }
    }

    .right-middle {
        height: 150px;
        display: grid;
        grid-template-columns: 250px 250px 500px;

        ul {
            display: flex;
        }

        .icon__right {
            width: 40px;
            height: 40px;
            margin: 0 5px;
            color: var(--color-text-footer);
        }

        input {
            height: 40px;
            width: 170px;
            border: 1px solid #ccc;
            font-size: 14px;
        }
        .right__middle-input:focus {
            outline: 1px solid var(--color-outline-input);
        }

        button {
            height: 40px;
            width: 40px;
            margin-left: 10px;
            background-color: #f15e2c;
            border: 1px solid #f15e2c;
            cursor: pointer;
            color: var(--color-white);
            font-size: 20px;
        }

        .right__middle-img {
            margin-left: 10px;
        }
    }

    .right-bottom {
        height: 112px;
        display: flex;

        span {
            height: 100%;
            top: 50%;
            transform: translate(20%, 25%);
            font-size: 16px;
            color: #808080;
        }
    }
}
